body{
    margin: 0;
    padding: 0;
    background-color: #052633;
}


@media only screen and (min-width: 1200px) {
    html{
        zoom: 150%;
    }
 }
 

#nav{
    height: 60px;
    width: 100%;
    background-color: #096082;
    display: flex;
}

a{
    color: white;
    text-decoration: none;
}

i:hover{
     transform: scale(1.1);
}

#nal{
    height: 60px;
    width: 250px;
    display: flex;
    margin-left: 410px;
}

#photo{
    height: 60px;
    width: 60px;
}

#name{
    display: grid;
    place-items: center;
    color: white;
    font-size: 1.75rem;
}


#home{
    height: 60px;
    width: 60px;
    margin-left: 15px;
    display: grid;
    place-items: center;
    font-size: 1.5rem;
}

#menu{
    height: 300px;
    width: 250px;
    background-color: #096082;
    position: absolute;
    right: 0;
    top: 60px;
    border-top: 2px solid black;
    z-index: 1;
}

#menuicon{
    display: grid;
    place-items: center;
    color: white;
    font-size: 1.5rem;
    margin-left: 435px;
}

.unseen{
    visibility: hidden;
}

.seen{
    visibility: visible;
}

#menulist{
    height: 71px;
    width: 246px;
    display: grid;
    place-items: center;
    font-size: 1.3rem;
    color: white;
    border: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
    
}

#menulist:hover{
    background-color: lightblue;
    color: black;
    transition: all 0.3s;
}

#ex1{
    margin-top: 10px;
}

.exs{
    height: 300px;
    width: 85%;
    background-color: #096082;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 100px;
    border-radius: 10px;
    display: flex;
}

#vid{
    height: 260px;
    width: 40%;
    margin-left: 30px;
    margin-top: 20px;
}

#info{
    height: 260px;
    width: 52%;
    background-color: #052633;
    margin-top: 20px;
    margin-left: 30px;
    display: grid;
    padding-left: 10px;
    
    font-size: 1.2rem;
    color: white;
    border-radius: 5px;
    font-family: kanit;
}

p{
    font-size: 1.15rem;
}

h3{
    margin: 0px;
    color: yellow;
    
}

.list{
    list-style-type: decimal;
    
}

.title2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.title3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}


.nutrient-title{    
    height: 60px;
   
    color: white;
    font-size: 45px;
    font-family: Bebas Neue;
    font-weight: bold;
    letter-spacing: 2px; 
}

