body{
    margin: 0;
    padding: 0;
    background-color: #052633;
}

#nav{
    height: 60px;
    width: 100%;
    background-color: #096082;
    display: flex;
}

#title{
    height: 100px;
    width: 100%;
    text-align: center;
    color: white;
    font-family: bebas neue;
    font-size: 30px;
    margin-top: 0px;
}

#section{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#main1{
    height: 250px;
    width: 200px;
    background-color: antiquewhite;
    transition: all 0.3s ease 0s;
    box-shadow :0px 10px 10px  rgb(0, 0, 0,0.6) ;
}

#two{
    height: 50px;
    width: 200px;
    background-color: black;
    margin-bottom: 0;
    color: white;
    display: grid;
    place-items: center;
    font-size: larger;
    font-family: bebas neue;
    font-size: 30px;
    
}

#one{
    height: 200px;
    width: 200px;
    background-color: antiquewhite;
}

img{
    height: 200px;
    width: 200px;
    background-size: cover;
}

#main1:hover{
    transform: scale(1.1);
    box-shadow :0px 20px 20px 5px rgb(0, 0, 0,0.6) ;
}

#section:hover > :not(:hover){
    opacity: 0.6;
}

#home{
    height: 60px;
    width: 60px;
    margin-left: 10px;
    display: grid;
    place-items: center;
    font-size: 1.5rem;
}

a{
    color: white;
    text-decoration: none;
}

i:hover{
     transform: scale(1.1);
}

#nal{
    height: 60px;
    width: 250px;
    display: flex;
    margin-left: 410px;
}

#photo{
    height: 60px;
    width: 60px;
}

#name{
    display: grid;
    place-items: center;
    color: white;
    font-size: 1.75rem;
}

